.react-datepicker-wrapper {
  display: flex !important;
}

.copyright-footer {
  text-align: center !important;
  bottom: 0 !important;
  /* position: absolute !important; */
  align-self: center;
  background-color: darkgrey;
  width: 100%;
}
