.css-1uccc91-singleValue {
  color: #5a6772 !important;
  font-weight: 500 !important;
}

.identify .MuiButton-root {
  min-width: 0px;
}

.css-tlfecz-indicatorContainer {
  color: black !important;
}

.css-rdjqf5-control {
  border-radius: 0px !important;
}

.input-box {
  text-align: left;
  font-size: 0.8rem !important;
  letter-spacing: 0;
  font-weight: 500 !important;
  /* border-radius: 4px; */
}
