.footer-style{
    background-color: #666666 !important;
}
.white-text{
    color: #ffffff;
}
.white-text:hover{
    color: #ffffff;
}
.email-icon{
    margin-right: 0.5rem;
}
.email-container {
    color: #ffffff;
    height: 2rem;
    display: flex;
    justify-content: center;
}